{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    {% if request.user.perfil.rol == 'Cajero' %}
      <div class="col-md-4">
        <div class="card p-4 mb-4">
          <h5><strong>Caja y Ventas</strong></h5>
          <p>Apertura, ventas y cierre diario.</p>
          <a class="btn btn-primary" href="{% url 'caja_estado_hoy' %}">Ir</a>
        </div>
      </div>
    {% endif %}

    {% if request.user.perfil.rol != 'Cajero' %}
      <div class="col-md-4">
        <div class="card p-4 mb-4">
          <h5><strong>Inventario</strong></h5>
          <p>Registrar y consultar productos.</p>
          <a class="btn btn-primary" href="{% url 'producto_list' %}">Ir</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-4 mb-4">
          <h5><strong>Reportes</strong></h5>
          <p>Exportar ventas a Excel.</p>
          <a class="btn btn-primary" href="{% url 'exportar_ventas_excel' %}">Ir</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
